<ion-view view-title="How Focused are You?">
  <ion-content>
    <button ng-click = "veryFocused()" class="button button-block button-balanced">
              Very Focused</button>
            <button ng-click = "focused()" class="button button-block button-calm">
              Focused
          </button>
            <button class="button button-block button-energized">
              Unfocused
          </button>
          <button class="button button-block button-assertive">
              Very Unfocused
          </button>
          <p align="center">Message about reward system goes here</p>
  </ion-content>
</ion-view>
<!--The input process for Focus Status goes here and the processs repeats three times daily >