<ion-view view-title="Welcome">
  <ion-content class="padding">
    <h2 align="center">Welcome to ADD.APT</h2>
    <p>The purpose of "ADD.APT" is to provide users who have been diagnosed with ADD/ADHD.

    <p>Here are the top 3 reasons why you might want to begin tracking your focus:</p>

    <p>Identify Patterns: By consistently documenting our focus, we can start to identify both positive and negative life influences on our level of focus.</p>

    <p>Helps With Goal Setting: By identifying your focus state, you will be able to establish goals for emotional change and choose specific goals tailored to address the unfocused state.</p>

    <p>Regaining Control: Research has shown that the process of simply checking in with current focus states can helps us feel better.</p>

    <p> To help remind you to check in regarding how focused you are, ADD.APT will send periodic push notifications encouraging you to touch base with your level of focus.</p>
  </ion-content>
</ion-view>
